doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    title Some Site
    block scripts
        script(src='/jquery.min.js')
        script(src='/bootstrap.min.js')
  body
    .header
      h1.page-title Some Site

    ul.nav
      for menuItem in mainMenu
        li: a(href=menuItem.route) #{menuItem.name}
    
    .main-content.container
      block content

    .footer
      p Memes
