extends layout.pug

block content
    h1 Useful links
    p I'm going to also use this website to keep bookmarks to other websites that I use. (i.e. ones for regex testing, xml "beautifying", etc.)
    ul
        //TODO: Create a "newwin" class for a tags
        li
            a(href='#',target='_blank') Example 1 #[span.glyphicon.glyphicon-new-window]
        li
            a(href='#',target='_blank') Example 2 #[span.glyphicon.glyphicon-new-window]
                
